/* nav bar on top of page*/

.box{
position: absolute;
width: 398px;
height: 17px;
left: 855px;
top: 44px;

border-color:blue;
}
li.nav-li{
    font-family: 'Campton';
    font-size: 12px;
    line-height: 14px;
display: inline; 
color: #3D3D3D;

}
ul{
list-style-type: none;  
position: sticky;

}
#little-blue{
    position: absolute;
    width: 100px;
    height: 4px;
    left: 968px;
    top: 1px;
    background: #031CFF ;


}
#signIn-box{
    box-sizing: border-box; 
    position: absolute;
    width: 103px;
    height: 36px;
    left: 1291px;
    top: 34px;

    border: 1px solid #031CFF;
    border-radius: 100px;
    
  
}
div.sign-in{
    position: absolute;
    width: 62.46px;
    height: 16.96px;
    left: 1310px;
    top: 43px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
/* identical to box height */

    text-align: center;

    color: #031CFF;

    border-radius: 100px;   
}



/*main picture on page----------------------------------*/
div.big-pic{
    position: absolute;
    width: 1360px;
    height: 616px;
    left: 40px;
    top: 99px;  
}
p.main-pic{
    position: absolute;
    width: 1360px;
    height: 616px;
    left: 40px;
    top: 99px;
    background: url(C:\Users\999976658\Desktop\code\shantipalmer.github.io\3\Rectangle.png);
}
div.places{
    position: absolute;
    width: 358px;
    height: 93px;
    left: 341px;
    top: 350px;      
}
    div.places-words{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 78.9191px;
        line-height: 92px;
        
        color: #FFFFFF; 
    }
        div.figma{
            position: absolute;
            width: 104px;
            height: 22px;
            left: 341px;
            top: 443px;
    }
            div.figma-words{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            
            color: #FFFFFF; 
        }
                #line{
                    position: absolute;
                    width: 343px;
                    height: 0px;
                    left: 525px;
                    top: 466px;

                    border: 2px solid #FFFFFF;
                }
                    #reserve{
                        position: absolute;
                        width: 251px;
                        height: 54px;
                        left: 341px;
                        top: 526px;

                        background: #031CFF;
                        border-radius: 100px;
                    }
                        #reserve-words{
                            position: absolute;
                            width: 122px;
                            height: 22px;
                            left: 405px;
                            top: 542px;
                            
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 18px;
                            line-height: 21px;
                            text-align: center;
                            
                            color: #FFFFFF;
                            border-radius: 100px;
                        }
    
