/* nav bar on top of page*/
li.nav-li{
position: absolute;
width: 398px;
height: 17px;
left: 855px;
top: 44px;
list-style-type: none;
border-style:outset;

font-family: 'Campton';
font-size: 12px;
line-height: 14px;

color: #3D3D3D;
}
.little-blue{
    position: absolute;
    width: 100px;
    height: 4px;
    left: 968px;
    top: 1px;

background: #031CFF;
}
.signIn-box{
    box-sizing: border-box; 
    position: absolute;
    width: 103px;
    height: 36px;
    left: 1291px;
    top: 34px;

    border: 1px solid #031CFF;
    border-radius: 100px;
  
}
div.sign-in{
    position: absolute;
    width: 62.46px;
    height: 16.96px;
    left: 1310px;
    top: 43px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
/* identical to box height */

    text-align: center;

    color: #031CFF;

    border-radius: 100px;   
}



/*main picture on page*/
p.main-pic{
    position: absolute;
    width: 1360px;
    height: 616px;
    left: 40px;
    top: 99px;
    background: url(C:\Users\999976658\Desktop\code\shantipalmer.github.io\3\Rectangle.png);
}
