
/*css for index page--------------------------*/
nav {
    background-color:white;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0px;
    border-style: outset;
    border-bottom-color: #CFCFCF;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;

    position: sticky;
}

.nav-li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    font-family: Dosis, Arial; 
  
}

.h1{
    font-family: dosis,arial;
    font-size: 40px;
    padding-top: 75px;

}
body {
    background-color: #5D8679;
    width: 99%;
    height: 600px; 
    
}
p.test{
    
    margin-top: 1500px;
}
/* css for contact page-------------------------- */
div.contact_right{
    float: right;
    width: 200px;
    height: 400px;
    border-color: #4b8782;
    margin-right:0px;
    margin-top:50px;
    background-color: white;
    border: 3px;
}
p.p_form{

    margin: 15px;
    font-size: 20px;
    font-family: Dosis, Arial; 
}
#fname{
    font-size:20px;
    font-family: Dosis, arial;
}
#lname{
    font-size:20px;
    font-family: Dosis,arial;
}
div.contact_left{
    float: left;
    width: 200px;
    height:400px;
    border-color:#4b8782;
    margin-right:0px;
    margin-top:50px;
    background-color: white;
    border: 3px;
}
#email{
    font-size:20px;
    font-family:dosis,arial;
}
#message{
    font-size:20px;
    font-family:dosis,arial;
}
h1.name{
    float: left;
    margin-top: 50px;
    margin-left: 100px;

}
p.intro{
    float: right;
    margin-top:50px;
    margin-right: 50px;
}



/*css for about page-----------------------*/
p.p-about{
    float: center;
    font-size: 45px;
    font-family:dosis,arial;
    margin-top: 100px;
}
/*css for work page----------------------------*/
p.p-work{
    font-size: 30px;
    margin-left: 50px;
    margin-top:100px;
}

p.p-volunteer-service{
    font-size:30px;
    margin-top: 400px;
    float: left;
}

table.work{
    width: 50%;
    float:left;
    float: top;

    border-color: black;
    border: 3px;
    border-style:solid;
    margin-bottom: 600px;
}

table.volunteer{
    width:50%;
    float: left;
    border-color: black;
    border: 3px;
    border-style:solid;
}
tr.line{
    border-bottom-style: solid;
}
td.line{
    border-bottom-style: solid;  
}
th.line{
    border-bottom-style: solid;
}
